body{
    margin: 20px;
}

#display {
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
    margin-top: 20px;
}

#display td {
    height: 30px;
    width: calc(100% / 11);
    padding: 3px;
}

#timetable {
    border-collapse: collapse;
    width: 65%;
}

#timetable th, #timetable td {
    border: 1px solid black;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 120%;
}

#timetable th {
    background-color: #eee;
}

#timetable th:first-child, #timetable td:first-child {
    width: 50px;
    background-color: #eee;
}

#timetable td:not(:first-child) {
    width: 150px;
}

.container {
    display: flex;
}

#toolbar {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    min-width: 100px;
}

button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.selected {
    background-color: #fee;
}

.code {
    font-size: 80%;
    color: #555;
}
